{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,200" />
<link type="text/css" href="{% static 'main/css/draft_editor.css' %}" rel="stylesheet">
<title>SuddenDraft | Draft Editor</title>
{% endblock head %}

{% block logo %}
<div class="x">x</div>{{ draft.name }}
{% endblock logo %}

{% block content %}
<div class="material-symbols-outlined custom-cursor" id="custom-cursor">
    edit
</div>
<div id="backgrounds">
    <canvas id="style0" height="40px" width="80px" onclick="setBackground(0)"></canvas>
    <canvas id="style1" height="40px" width="80px" onclick="setBackground(1)"></canvas>
    <canvas id="style2" height="40px" width="80px" onclick="setBackground(2)"></canvas>
    <canvas id="style3" height="40px" width="80px" onclick="setBackground(3)"></canvas>
</div>
<div id="draw-settings">
    <div class="draw-settings-style-wrapper">
        <button class="material-symbols-outlined draw-settings__style" id="draw-button-style"
            onclick="set_draw_style1(event)">
            edit
        </button>
        <button class="material-symbols-outlined draw-settings__style" id="draw-button"
            onclick="set_draw_style2(event)">
            ink_marker
        </button>
        <button class="material-symbols-outlined draw-settings__style" id="draw-button"
            onclick="set_draw_style3(event)">
            ink_highlighter
        </button>
        <button class="material-symbols-outlined draw-settings__style" id="draw-button"
            onclick="set_draw_style4(event)">
            brush
        </button>
    </div>
    <div class="draw-settings-color-wrapper1">
        <button class="material-symbols-outlined draw-settings__color" id="draw-button"
            style="background-color:rgb(60,64,67);" onclick="set_draw_color(event)"></button>
        <button class="material-symbols-outlined draw-settings__color" id="draw-button"
            style="background-color: rgb(25,172,192);" onclick="set_draw_color(event)"></button>
        <button class="material-symbols-outlined draw-settings__color" id="draw-button"
            style="background-color:rgb(105,158,62);" onclick="set_draw_color(event)"></button>
    </div>
    <div class="draw-settings-color-wrapper2">
        <button class="material-symbols-outlined draw-settings__color" id="draw-button"
            style="background-color: rgb(255, 255, 255);" onclick="set_draw_color(event)"></button>
        <button class="material-symbols-outlined draw-settings__color" id="draw-button"
            style="background-color:rgb(243,179,42);" onclick="set_draw_color(event)"></button>
        <button class="material-symbols-outlined draw-settings__color" id="draw-button"
            style="background-color: rgb(217,69,60);" onclick="set_draw_color(event)"></button>
    </div>

    </button>
</div>
<div class="quick-access-toolbar">
    <div class="material-symbols-outlined toolbar__item quick-access-toolbar__item">
        undo
    </div>
    <div class="material-symbols-outlined toolbar__item quick-access-toolbar__item">
        redo
    </div>
    <div class="material-symbols-outlined toolbar__item quick-access-toolbar__item">
        zoom_in
    </div>
    <button id="background_button" class="quick-access-toolbar__button background_button"
        onclick="toggleDropdown(event)">Выбрать фон</button>
    <button id="clear_button" class="quick-access-toolbar__button">Очистить фрейм</button>
</div>
<div class="toolbar">
    <button class="material-symbols-outlined toolbar__item draw-button" id="toolbar-draw-button"
        onclick="drawButtonActive(event)">
        edit
    </button>
    <button class="material-symbols-outlined toolbar__item" id="toolbar-eraser-button"
        onclick="eraserButtonActive(event)">
        ink_eraser
    </button>
    <button class="material-symbols-outlined toolbar__item" onclick="moveButtonActive(event)">
        open_with
    </button>
    <input type="file" id="fileInput" style="display: none" accept="image/*">
    <button class="material-symbols-outlined toolbar__item" onclick="newPictureObject(event)">
        add_photo_alternate
    </button>
    <button class="material-symbols-outlined toolbar__item">
        circle
    </button>
    <button class="material-symbols-outlined toolbar__item">
        text_fields
    </button>
    <button class="material-symbols-outlined toolbar__item">
        drag_click
    </button>
</div>
<div class="canvas-block">
    <div class="canvas-block-wrapper" id="canvas-block-wrapper"
        style="position: relative; height: calc({{ draft.height }}px + 0px); width: calc({{ draft.width }}px + 0px)">
        <!--Фон-->
        <canvas class="base-canvas canvas-block__item" id="base-canvas" width="{{ draft.width }}"
            height="{{ draft.height }}"></canvas>
        <!--Картинки-->
        {% for picture in pictures %}
        <div id="picture_block-{{ forloop.counter }}" class="picture_block"
            style=" position:absolute; transform: translate({{ picture.x_position }}px, {{ picture.y_position }}px); width: {{ picture.picture.height }}px; height: {{ picture.picture.width }}px;">
            <canvas style="position:absolute;" class="canvas-picture canvas-block__item"
                id="canvas-{{ forloop.counter }}" width="{{ picture.picture.width }}"
                height="{{ picture.picture.height }}">
            </canvas>
            <div id="buttons-{{ forloop.counter }}" class="picture_block_buttons"
                style="width: {{ picture.picture.width }}px; height: {{ picture.picture.height }}px;"
                onmouseover="hoverBlock({{ forloop.counter }})" onmouseout="unhoverBlock({{ forloop.counter }})">
                <div class="picture_block__button-resize" onmousedown="buttonResizeDown({{ forloop.counter }}, event)">
                </div>
                <div class="picture_block__button-rotate"></div>
            </div>
        </div>
        {% endfor %}
        <!--Рисунки-->
        <canvas class=" editor-canvas canvas-block__item" id="editor-canvas" width="{{ draft.width }}"
            height="{{ draft.height }}"></canvas>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.2/tinycolor.min.js"></script>

<script src="{% static 'main/js/picture_edit.js' %}"></script>
<script src="{% static 'main/js/draft_editor_load.js' %}"></script>
<script src="{% static 'main/js/moving.js' %}"></script>
<script src="{% static 'main/js/erasing.js' %}"></script>
<script src="{% static 'main/js/drawing.js' %}"></script>
<script src="{% static 'main/js/draft_editor.js' %}"></script>
<script>
    var base_canvas = document.getElementById("base-canvas");
    var base_context = editor_canvas.getContext("2d");

    var urls = [];
    var x = [];
    var y = [];
    var width = [];
    var height = [];
    var id = [];

    function hello(id) {
        console.log("123");
    }

    function draw_picture(id) {
        // Функция для загрузки изображения по URL
        async function loadImage(url) {
            return new Promise((resolve, reject) => {
                var img = new Image();
                img.onload = function () {
                    resolve(img);
                };
                img.onerror = function () {
                    reject(new Error('Не удалось загрузить изображение: ' + url));
                };
                img.src = url;
            });
        }

        // Функция для отрисовки изображений в заданной последовательности
        async function drawImagesSequentially() {
            if (id == null) {
                for (var i = 0; i < urls.length; i++) {
                    var canvas_name = "canvas-" + (i + 1);
                    try {
                        var current_canvas = document.getElementById(canvas_name);
                        var current_context = current_canvas.getContext("2d");
                        const img = await loadImage(urls[i]);
                        current_context.drawImage(img, 0, 0, img.width, img.height);
                    } catch (error) {
                        console.error(error);
                    }
                }
            }
            else {
                var name = "picture_block-" + (id + 1);
                try {
                    var current_canvas = document.getElementById(name);
                    current_canvas.style = `position: absolute; transform: translate(${x[id]}px, ${y[id]}px);)`;
                } catch (error) {
                    console.error(error);
                }
            }
        }

        // Вызываем функцию для отрисовки изображений
        drawImagesSequentially();
    }

    document.addEventListener('DOMContentLoaded', function () {
        setBackground_non_websocket("{{ draft.background }}");
        var img = new Image();
        img.src = "{{ drawing.picture.url }}";
        img.onload = function () {
            base_context.drawImage(img, 0, 0);
        };
        "{% for picture in pictures %}"
        urls.push("{{picture.picture.url}}");
        x.push("{{picture.x_position}}");
        y.push("{{picture.y_position}}");
        id.push("{{ picture.id }}");
        var canvas = document.getElementById("buttons-{{ forloop.counter }}");
        canvas.addEventListener("mousedown", startMove);
        "{% endfor %}"

        draw_picture();
    });

    const socket = new WebSocket(`ws://${window.location.host}/ws/draft/{{ draft.id }}/`);

    socket.onopen = (event) => {
        console.log('WebSocket connection opened:', event);
    };

    socket.onmessage = (event) => {
        var editor_canvas = document.getElementById("editor-canvas");
        var editor_context = editor_canvas.getContext("2d");

        var parse_data = JSON.parse(event.data);

        const background_style = parse_data.background_style;
        const receivedCoordinates = parse_data.coordinates;

        if (background_style) {
            //Если пришло событие для фона
            setBackground_non_websocket(background_style);
        }
        else if (receivedCoordinates) {
            //Если пришло событие для ластика
            for (let i = 0; i < receivedCoordinates.length; i++) {
                const coordinate = receivedCoordinates[i];
                editor_context.clearRect(coordinate.x, coordinate.y, 15, 15);
            }
            var save_draw_image = editor_canvas.toDataURL('image/png');
            var data = {
                type: 'draw_picture_save',
                save_draw_image: save_draw_image,
            };
            socket.send(JSON.stringify(data));
        } else {
            //Если пришло событие для обновления draw picture
            var x_position = parse_data.x_position;
            var y_position = parse_data.y_position;
            var picture_url = parse_data.picture_url;

            var img = new Image();
            img.src = picture_url;
            img.onload = function () {
                editor_context.drawImage(img, x_position, y_position);

                var save_draw_image = editor_canvas.toDataURL('image/png');
                var data = {
                    type: 'draw_picture_save',
                    save_draw_image: save_draw_image,
                };
                socket.send(JSON.stringify(data));
            };
        }
    }

    socket.onclose = function (event) {
        console.log('WebSocket connection closed:', event);
    };

</script>

{% endblock content %}