{% extends "base.html" %}
{% load static %}

{% block head %}
<link type="text/css" href="{% static 'main/css/new_draft.css' %}" rel="stylesheet">
<title>SuddenDraft | New Draft</title>
{% endblock head %}

{% block content %}
<form method="POST" class="content-form">
    <div class="form-head">New Draft</div>
    {% csrf_token %}
    {{ form.name }}
    <div class="form-input">Публичный? {{ form.is_public }}</div>
    <button class="form-button" type="submit">Создать</button>
</form>
{% endblock content %}